.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* height: 100vh; */
  /* font-size: 40px; */
  /* text-transform: uppercase; */
  background-color: #e7ecf2;
  color: #010101;
}
